@font-face {
  font-family: 'neon_80sregular';
  src: url('assets/font/neon-webfont.woff2') format('woff2'),
       url('assets/font/neon-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {

  --app-bg-col-2: #3d0a3a;
  --app-bg-col: #120311;
  --gallery-bg-col: #130d4f;

  --react-light-blue-col: rgba(0, 216, 255, 1);

  --neon-text-color: #f40;
  
  --box-targeted-color: rgba(248, 246, 247, 0.948);
  --neon-border-color: hsl(208, 100%, 50%);
  --box-neon-color-1: hsl(208, 100%, 50%);
  --box-neon-color-2: hsl(208, 100%, 89%);

  --border-rad-box: .5rem;
}